/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.base-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.inner-panel {
  margin-top: 60px;
  width: calc(100% - 300px);
  height: calc(100% - 60px);
  box-sizing: border-box;
  overflow: auto;
  background: linear-gradient(135deg, #999b9c 0%, #ffffff 100%);
  scrollbar-width: thin;
}

.search-panel {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  width: 300px;
  box-sizing: border-box;
  border-left: solid 4px rgba(0, 0, 0, 0.082);
  background: linear-gradient(90deg, #f3f3f3 0%, #f3f3f3 100%);
  font-size: 14px;
  z-index: 100;

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: solid 3px #00000025;
    border-bottom: solid 3px #00000025;
    box-sizing: border-box;
  }
  &-body {
    height: calc(100% - 43.5px);
    overflow-y: auto;
    overflow-x:   hidden;
    scrollbar-width: thin;
  }
}

.panel-bar {
  z-index: 100;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0.8em;
  display: flex;
  align-items: center;
  color: white;
  background: linear-gradient(160deg, #2f6a8a 0%, #51a8d6 100%);
  box-shadow: 0 0 10px 2px #000000a4;
  transition: width 300ms ease-in-out;

  .panel-tittle {
    margin-right: auto;
    display: flex;
    align-items: center;

    .details { font-size: 0.8em; }

    .mat-icon { margin-right: 0.2em; }
  }
  .panel-options {
    position: absolute;
    right: 9px;
    display: flex;
    align-items: center;

    .item {
      margin-left: 0.3em;

      .mat-mini-fab {
        background-color: white;
      }
      .mat-icon {
        color: #274c5e;
      }
    }
  }
}


.success {
  background-color: #cceed8ef;
  color: rgb(0, 56, 0);
  border-radius: 6px !important;

  .mat-simple-snackbar-action {
    .mat-button {
      color: rgb(0, 80, 0);
      font-weight: 700 !important;
    }
  }

  .snack-bar-dismiss-button {
    color: rgb(0, 80, 0);
    font-weight: 700 !important;
    font-size: 16px;
  }
}

.error {
  background-color: #f7babaf1;
  color: rgb(150, 0, 0);
  border-radius: 6px !important;

  .mat-simple-snackbar-action {
    .mat-button {
      color: rgb(197, 0, 33);
      font-weight: 700 !important;
    }
  }

  .snack-bar-dismiss-button {
    color: rgb(197, 0, 33);
    font-weight: 700 !important;
    font-size: 16px;
  }
}

.snack-bar-dismiss-button {
  background-color: #00000000;
  border: none;
  border-radius: 4px;
  padding: 4px 6px;
  margin: -8px -8px -8px 8px
}

.snack-bar-dismiss-button:hover {
  background-color: #0000000a;
}

.snackbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}